<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <strong> Series </strong>
        </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ol>
                    <li>
                        <a href="../240226_sora/">Can Sora Understand 3D?</a>
                    </li>
                    <li>
                        <a href="../240426_diffusion_depth/">Is Diffusion's Estimated Depth Really Good?</a>
                    </li>
                    <li>
                        <a href="../240602_2dgs/">Under the 3D: Geometrically Accurate 2D Gaussian Splatting </a>
                    </li>
                    <li>
                        <a href="../240721_sfm/">Radiance Fields from Deep-based Structure-from-Motion</a>
                    </li>
                    <li>
                        <a href="../240805_gs/">A Comprehensive Analysis of Gaussian Splatting Rasterization</a>
                    </li>
                    <li>
                        <a href="../240823_grt/">Don't Rasterize, But Ray Trace 3D Gaussian</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>